<div>
    <p>
        This site is a collection of solvers and generators I've written in Go and JavaScript. So far it has 3 sections, mazes, Sudoku, and Truchet tiles.
    </p>

    <div class='description'>
        <h1>Mazes</h1>
        <p><a href="https://weblog.jamisbuck.org/">Jamis Buck</a> has a blog series from 2011 that I came across which contains descriptions and animations of 11 maze algorithms.
            Here is the list of all 11 maze generation algorithms that I've implemented in Go.
            You can see more details about each algorithm under the <a href='/mazes#maze-stats'>Mazes</a> section.</p>
        <ul>
            <li><a target='_blank'href="https://weblog.jamisbuck.org/2010/12/27/maze-generation-recursive-backtracking.html">Recursive Backtracking</a></li>
            <li><a target='_blank'href="http://weblog.jamisbuck.org/2010/12/29/maze-generation-eller-s-algorithm">Eller's Algorithm</a></li>
            <li><a target='_blank' href="https://weblog.jamisbuck.org/2011/1/3/maze-generation-kruskal-s-algorithm.html">Kruskal's Algorithm</a></li>
            <li><a target='_blank' href="https://weblog.jamisbuck.org/2011/1/10/maze-generation-prim-s-algorithm.html">Prim's Algorithm</a></li>
            <li><a target='_blank' href="https://weblog.jamisbuck.org/2011/1/12/maze-generation-recursive-division-algorithm.html">Recursive Division</a></li>
            <li><a target='_blank'href="https://weblog.jamisbuck.org/2011/1/17/maze-generation-aldous-broder-algorithm.html">Aldous-Broder Alogirthm</a></li>
            <li><a href="https://weblog.jamisbuck.org/2011/1/20/maze-generation-wilson-s-algorithm.html" target="_blank">Wilson's Algorithm</a></li>
            <li><a href="https://weblog.jamisbuck.org/2011/1/24/maze-generation-hunt-and-kill-algorithm.html" target="_blank">Hunt and Kill Algorithm</a></li>
            <li><a href="https://weblog.jamisbuck.org/2011/1/27/maze-generation-growing-tree-algorithm.html" target="_blank">Growing Tree Algorithm</a></li>
            <li><a href="https://weblog.jamisbuck.org/2011/2/1/maze-generation-binary-tree-algorithm.html" target="_blank">Binary Tree Algorithm</a></li>
            <li><a href="https://weblog.jamisbuck.org/2011/2/3/maze-generation-sidewinder-algorithm.html" target="_blank">Sidewinder Algorithm</a></li>
        </ul>
        <span>The source code for all the maze generation algorithms can be found </span>
        <a href="https://gitlab.com/rileythomp14/mazes" target="_blank">here.</a>
    </div>

    <div class='description'>
        <h1>Sudoku</h1>
        <p>I created 5 different sudoku solvers in Go, each using a different combination of solving techniques. Each solver was tested on 3000 sudoku boards, the results can be found <a href="/sudoku#sudoku-stats">here</a>, and the source code can be found <a href="https://gitlab.com/rileythomp14/sudoku" target="_blank">here.</a></p>
    </div>

    <div class='description'>
        <h1>Truchet Tiles</h1>
        <p>A Truchet tile generator written in JavaScript. More info is available in the <a href="/truchet">Truchet</a> section and the source code can be found <a href="https://gitlab.com/rileythomp14/solvers-generators/-/blob/master/src/app/components/truchet/truchet.component.ts" target="_blank">here.</a></p>
    </div>
    
</div>