<div id='footer-container'>
    <footer class='footer'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <nav>
            <a href='https://gitlab.com/rileythomp14' target='blank'><b><i class="fab fa-gitlab"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href='/about'><b><i class="fas fa-question"></i></b></a> 
        </nav>
    </footer> 
</div>
