<table class='board'>
    <p class='board-title'>{{ boardTitle }}</p>
    <tr>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-top border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
    <tr>
        <td class='border-bottom border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom border-left'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
        <td class='border-bottom border-right'><input type='text' maxlength='1' (keyup)='keyUp($event)' (focus)='highlightCells($event)'></td>
    </tr>
</table>