<canvas id="myCanvas" width="500" height="500"></canvas>
<select (change)='generateTruchet(boardLen.value)' name="boardLen" id="boardLen" #boardLen>
    <option value='250'>1</option>
    <option value='125'>2</option>
    <option selected value='50'>3</option>
    <option value='25'>4</option>
    <option value='10'>5</option>
</select>
<button (click)='generateTruchet(boardLen.value)'>Generate Board</button>
<div id='maze-stats' class="stats-desc">
   <h1>Truchet Tiles</h1>

   <p>Truchet tiles are a way to decorate and create patterns on a grid using square tiles. This one uses two tiles, each with 2 quarter circles at opposite corners. Each grid cell is randomly assigned one of these tiles, which creates different patterns. </p>
</div>
